menu "Application Configuration"

	choice POLARITY
		prompt "Communication polarity"
		default SERVER
		help
			Select Communication polarity.
		config SERVER
			bool "As the server"
			help
				As the sender.
		config CLIENT
			bool "As the client"
			help
				As the client.
	endchoice

endmenu 
