menu "Application Configuration"

    choice POLARITY
        prompt "Communication Polarity"
        default PRIMARY
        help
            Select Communication Polarity.
        config PRIMARY
            bool "Primary"
            help
                As Primary.
        config SECONDARY
            bool "Secondary"
            help
                As Secondary.
    endchoice

endmenu 
